@font-face {
  font-family: 'Mont_black';
  src: url('../fonts/font/Mont-Black.ttf')
  /* url('../fonts/Mont-Black.woff2') format('woff2'), */
  /* url('../fonts/Mont-Black.woff') format('woff'),  */
  /* url('../fonts/Mont-Black.ttf') format('ttf'), */
  /* url('../fonts/Mont-Black.eot') format('eot'), */
}
/*=============== VARIABLES CSS ===============*/
:root {
  --gold-color: #FFC56D;

  --body-font: 'Manrope', sans-serif;
  /* --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem; */

  /* --font-medium: 500;
  --font-semi-bold: 600; */
}


/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .3s; /* For animation dark mode */
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffff;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
}

.main {
  overflow: hidden; 
}


.header {
  position: absolute;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 75px;
}
.header__nav {
  width: 100%;
  padding: 35px 0 0;
}
.header__ul {
  display: flex;
  justify-content: space-between;
}
.header__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.header__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  flex-direction: row;
  gap: 18px;
}
.header__list-phone {
  flex-direction: row;
}
.header__list-phone img {
  width: 44px;
  height: 47px;
}
.header__popup-call {
  color: #FFB03A;
  border-bottom: 1px solid #FFB03A;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  width: 95%;
  cursor: pointer;
}
.header__list-phonetext a{
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;  
}


.home__bg {
  position: absolute;
  /* width: 100%; */
  /* height: 100vh; */
  inset: 0;
  z-index: -1;
}
.home {
  /* background-image: url('../img/home-bg.png');
  /* background-position: center; */
  /* background-size: cover;
  background-repeat: no-repeat; */ */
  height: 100vh;
  width: 100%;
  padding: 213px 0 0;
  text-align: center;
}

.home__title {
  font-weight: 400;
  font-size: 35px;
  line-height: 48px;
  color: #fff;
}
.home__subtitle  {
  font-family: 'Mont_black', sans-serif;
  font-size: 50px;
  line-height: 150%;
  color: #EEEEEE;
  text-transform: uppercase;
  margin-top: 32px;
}
.home__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 56px auto 0;
  width: 947px;
  max-width: 100%;
}

.home__btn {
  background: linear-gradient(97.14deg, #DE5000 18.45%, #DE5000 18.46%, #FF7324 51.62%, #DE5000 83.44%);
  box-shadow: 0px 7.01804px 0px #933800, 0px 28.5716px 54.97px -17.6872px rgba(189, 71, 0, 0.5), inset -5px -5px 20px 11px #D64F00, inset 2px 2px 70.76px #FFBE9A;
  border-radius: 230.88px;
  padding: 51px 93px;
  font-weight: 900;
  font-size: 17.594px;
  line-height: 16px;
  text-transform: uppercase;
  width: 455px;
  height: 118px;
  display: block;
  margin: 0 25px 61px;
}

.home__content-text {
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 120px;
  text-align: end;
}
.home__content-text:nth-child(3), .home__content-text:nth-child(5){
  text-align: start;
}

.name-border {
  position: relative;
  background-color: #933800;
  padding: 10px 17px;
  border-radius: 20px;
}
.ozon {
  background-color: #0158FE;
}
.wildberries {
  background-color: #881476;
}
.yandex {
  background-color: #E3B500;
}
.header__popup-wrapper {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #00000086;
  inset: 0;
}
.header__popup-close {
  position: absolute;
  inset: 0;
}
.header__popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 390px;
  max-width: 100%;
  background-color: #181818;
  padding: 27px 43px 54px 43px;
  z-index: 1; 
}
.header__popup-wrapper.show {
  display: flex;
}
.header__popup-title {
  font-family: 'Mont_black';
  font-size: 30px;
  line-height: 150%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.header__popup-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  text-align: center;
  margin: 17px 0 45px;
}

.header__popup-input {
  padding: 23px 0 23px 33px;
  border-radius: 54px;
  margin: 0 0 25px;
}
.header__popup-btn {
  width: 252px;
  height: 65px;
  padding: 28px 50px;
  margin: 0 auto;
  font-family: 'Mont_black';
  font-size: 9.76853px;
  line-height: 9px;
  text-align: center;
}


.advanteges {
  background-image: url('../img/advantage-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}










@media (max-width: 1366px) {
  .home__subtitle {
    font-size: 35.7552px;
    line-height: 150%;
    margin-top: 23px;

  }
  .home__title {
    font-size: 25.0286px;
    line-height: 34px;
  }
}